@import "tailwindcss";

@theme {
  --color-neon: #EAFF00;
  --color-dark-900: #0a0a0a;
  --color-dark-800: #111111;
  --color-dark-700: #1a1a1a;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #EAFF00 #0a0a0a;
}
